<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Ave Logo"
      src="https://image.flaticon.com/icons/png/512/1502/1502138.png"
    />
    <span>Aves</span>
      <div class="spacer"></div>
  </div>
  
  <div class="content" role="main">
    
  </div>
