.footer {
    height:50px;
    line-height:50px;
    background:#8BC133;
    color:black;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    position:fixed;
  }