<app-header></app-header>
<mat-card class="button-area">
    <button class="button-create" mat-button (click)="clearField(); openDialog(modalCreate)">Crear Ave</button>
</mat-card>
<br>
<mat-card>
    <div class="text-center">
        <form [formGroup]="formName">
            <mat-label>Buscar por: </mat-label>
            <mat-form-field class="input-name">
                <input type="text" name="nombre" formControlName="nombre" matInput
                    placeholder="Nombre común ó científico" (keyup)="filtrar($event.target.value)">
            </mat-form-field>
            <mat-label class="input-name"> y/ó: </mat-label>
            <mat-form-field class="input-name">
                <mat-label>Zona</mat-label>
                <mat-select (selectionChange)="filtrar($event.value)">
                    <mat-option *ngFor="let zn of zone" [value]="zn.dsnombre">
                        {{zn.dsnombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
</mat-card>
<br>
<mat-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="cod_ave">
            <th mat-header-cell *matHeaderCellDef> Codigo Ave </th>
            <td mat-cell *matCellDef="let element"> {{element.cod_ave}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre_comun">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_comun}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre_cientifico">
            <th mat-header-cell *matHeaderCellDef> Nombre Cientifico </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_cientifico}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre_pais">
            <th mat-header-cell *matHeaderCellDef> País </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_pais}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre_zona">
            <th mat-header-cell *matHeaderCellDef> Zona </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_zona}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-button matTooltip="Actualizar" (click)="openDialog(modalEdit); infoEdit(element)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">update</mat-icon>
                </button>
                <button mat-button matTooltip="Eliminar" (click)="delete(element.cod_ave)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>

<!--Modal create ave-->
<ng-template #modalCreate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Crear Ave</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="clearField(); modalReference.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="text-center">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <input type="text" name="dsnombre_comun" formControlName="dsnombre_comun" matInput
                    placeholder="Nombre Común">
            </mat-form-field>
            <div *ngIf="!formGroup.get('dsnombre_comun').errors && formGroup.get('dsnombre_comun').dirty">
                <p class="form-error" *ngIf="formGroup.get('dsnombre_comun').hasError('required')">Nombre es requerido
                </p>
                <p class="form-error" *ngIf="formGroup.get('dsnombre_comun').hasError('minlength')">Debe tener una
                    logitud
                    mayor
                </p>
            </div>
            <br>
            <mat-form-field>
                <input type="text" formControlName="dsnombre_cientifico" name="dsnombre_cientifico" matInput
                    placeholder="Nombre Cientifico">
            </mat-form-field>
            <div *ngIf="formGroup.get('dsnombre_cientifico').errors && formGroup.get('dsnombre_cientifico').dirty">
                <p class="form-error" *ngIf="formGroup.get('dsnombre_cientifico').hasError('required')">Nombre
                    científico
                    es
                    requerida</p>
                <p class="form-error" *ngIf="formGroup.get('dsnombre_cientifico').hasError('minlength')">Debe tener una
                    logitud
                    mayor
                </p>
            </div>
            <br>
            <mat-form-field>
                <mat-label>País</mat-label>
                <mat-select (selectionChange)="selectCountry($event.value)" required>
                    <mat-option *ngFor="let ct of country" [value]="ct.cdpais">
                        {{ct.dsnombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="button-form">
                <button type="submit" [disabled]="formGroup.invalid" (click)="postAve(); clearField();"
                    class="btn btn-success" mat-button>Crear</button>
                <button class="btn btn-secondary" (click)="clearField(); modalReference.hide()"
                    mat-button>Cancelar</button>
            </div>
        </form>
    </div>
</ng-template>

<!--Modal edit ave-->
<ng-template #modalEdit>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Editar Ave</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="clearField(); modalReference.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="text-center">
        <form [formGroup]="formGroup">
            <mat-form-field>
                <input type="text" name="dsnombre_comun" [(ngModel)]="info.nombre_comun"
                    formControlName="dsnombre_comun" matInput placeholder="Nombre Común">
            </mat-form-field>
            <div *ngIf="!formGroup.get('dsnombre_comun').errors && formGroup.get('dsnombre_comun').dirty">
                <p class="form-error" *ngIf="formGroup.get('dsnombre_comun').hasError('required')">Nombre es requerido
                </p>
                <p class="form-error" *ngIf="formGroup.get('dsnombre_comun').hasError('minlength')">Debe tener una
                    logitud
                    mayor
                </p>
            </div>
            <br>
            <mat-form-field>
                <input type="text" formControlName="dsnombre_cientifico" [(ngModel)]="info.nombre_cientifico" name="dsnombre_cientifico" matInput
                    placeholder="Nombre Cientifico">
            </mat-form-field>
            <div *ngIf="formGroup.get('dsnombre_cientifico').errors && formGroup.get('dsnombre_cientifico').dirty">
                <p class="form-error" *ngIf="formGroup.get('dsnombre_cientifico').hasError('required')">Nombre
                    científico
                    es
                    requerida</p>
                <p class="form-error" *ngIf="formGroup.get('dsnombre_cientifico').hasError('minlength')">Debe tener una
                    logitud
                    mayor
                </p>
            </div>
            <br>
            <mat-form-field>
                <mat-label>País</mat-label>
                <mat-select [(ngModel)]="info.cod_zona" formcontrolname="cod_zona" (selectionChange)="selectCountry($event.value)" required>
                    <mat-option *ngFor="let ct of country" [value]="ct.cdpais">
                        {{ct.dsnombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="button-form">
                <button type="submit" [disabled]="formGroup.invalid" (click)="edit(info)" class="btn btn-success"
                    mat-button>Editar</button>
                <button class="btn btn-secondary" (click)="clearField(); modalReference.hide()"
                    mat-button>Cancelar</button>
            </div>
        </form>
    </div>
</ng-template>
<app-footer></app-footer>
<router-outlet></router-outlet>