.button-create {
  background-color: #8bc133;
}

table {
  width: 100%;
}

.input-name {
  margin-left: 20px;
}

.button-area {
  margin-top: -46px;
}

.button-form {
  margin-top: 20px;
  margin-bottom: 20px;
}
